<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" exploreResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Index" exploreResource="Admin.Index" PermissionNames="Admin" controller="Home" action="Index" IconClass="fa-desktop" />
    <siteMapNode SystemName="Administartor" exploreResource="Admin.Administartor" PermissionNames="ManageAdministrator" IconClass="fa-book" >
      <siteMapNode SystemName="Administartor User" exploreResource="Admin.Administartor.User" PermissionNames="ManageAdministrator" controller="Product" action="List" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="User" exploreResource="Admin.User" PermissionNames="ManageUser" IconClass="fa-book" >
      <siteMapNode SystemName="User List" exploreResource="Admin.User.List" PermissionNames="ManageUser" controller="Users" action="List" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
  </siteMapNode>
</siteMap>

