<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" exploreResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Index" exploreResource="Admin.Index" PermissionNames="Admin" controller="Home" action="Index" IconClass="fa-dashboard" />
    <siteMapNode SystemName="Administartor" exploreResource="Admin.Administartor" PermissionNames="ManageAdministrator" IconClass="fa-user-secret" >
      <siteMapNode SystemName="Administartor User" exploreResource="Admin.Administartor.User" PermissionNames="ManageAdministrator" controller="Product" action="List" IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="User" exploreResource="Admin.User" PermissionNames="ManageUser" IconClass="fa-users" >
      <siteMapNode SystemName="User List" exploreResource="Admin.User.List" PermissionNames="ManageUser" controller="Users" action="List" IconClass="fa-user"/>
    </siteMapNode>
    <siteMapNode SystemName="Content" exploreResource="Admin.Content" PermissionNames="ManageBanner" IconClass="fa-tv" >
      <siteMapNode SystemName="Content Banner List" exploreResource="Admin.Content.Banner.List" PermissionNames="ManageBanner" controller="Banner" action="Index" IconClass="fa-archive"/>
    </siteMapNode>
    <siteMapNode SystemName="Game" exploreResource="Admin.Game" PermissionNames="ManageGameDailyStatistics" IconClass="fa-gamepad" >
      <siteMapNode SystemName="Game Statistics" exploreResource="Admin.Game.Statistics" PermissionNames="ManageGameDailyStatistics" IconClass="fa-line-chart" >
        <siteMapNode SystemName="Game Statistics DailyStatistics" exploreResource="Admin.Game.Statistics.DailyStatistics" PermissionNames="ManageGameDailyStatistics" controller="GameStatistics" action="DailyList" IconClass="fa-align-left"/>
      </siteMapNode>
    </siteMapNode>
  </siteMapNode>
</siteMap>

